# Copiar para .env.local e preencher
# Para descobrir o IP da máquina: ip route get 1 | awk '{print $7; exit}'
EXPO_PUBLIC_CORE_API_URL=http://<IP_DA_MAQUINA>:8000/api
EXPO_PUBLIC_PORTS_API_URL=http://<IP_DA_MAQUINA>:8200/api
NODE_AUTH_TOKEN=<github_pat_com_read_packages>
